SourceÂ https://bg.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D0%B8\_%D0%BD%D0%B0\_%D0%B2%D0%BE%D0%BB%D1%8F%D1%82%D0%B0#%D0%A1%D0%B5%D0%B7%D0%BE%D0%BD%D0%B8

In [45]:
-- Create a new database called 'desafio'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'desafio'
)
CREATE DATABASE desafio
GO

USE [desafio];
GO

-- Create a new table called '[season]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[season]', 'U') IS NOT NULL
DROP TABLE [dbo].[season]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[season]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] int NOT NULL,
    [startDate] DATETIME,
    [endDate] DATETIME,
    [episodes] INT
    -- Specify more columns here
);
GO

-- Create a new table called '[tribes]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[tribes]', 'U') IS NOT NULL
DROP TABLE [dbo].[tribes]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[tribes]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    [seasonId] INT NOT NULL
    -- Specify more columns here
);
GO

-- Create a new table called '[eventTribe]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[eventTribe]', 'U') IS NOT NULL
DROP TABLE [dbo].[eventTribe]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[eventTribe]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [participantId] INT NOT NULL,
    [tribeId] INT NOT NULL,
    [event] NVARCHAR(50) NOT NULL,
    [episode] int
    -- Specify more columns here
);
GO

-- Create a new table called '[eventParticipant]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[eventParticipant]', 'U') IS NOT NULL
DROP TABLE [dbo].[eventParticipant]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[eventParticipant]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [participantId] INT NOT NULL,
    [tribeId] INT NOT NULL,
    [event] NVARCHAR(50) NOT NULL,
    [episode] int
    -- Specify more columns here
);
GO

-- Create a new table called '[city]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[city]', 'U') IS NOT NULL
DROP TABLE [dbo].[city]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[city]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    CONSTRAINT AK_name UNIQUE(name)
);
GO

-- Create a new table called '[participant]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[participant]', 'U') IS NOT NULL
DROP TABLE [dbo].[participant]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[participant]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    [sex] VARCHAR (1),
    [age] INT,
    [cityId] INT
    -- Specify more columns here
);
GO

In [46]:
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (1, '20190906 00:00:00 AM', '20191206 00:00:00 AM', 66);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (2, '20200906 00:00:00 AM', '20201204 00:00:00 AM', 66);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (3, '20210904 00:00:00 AM', '20211203 00:00:00 AM', 67);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (4, '20220903 00:00:00 AM', '20221129 00:00:00 AM', 63);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (5, '20230902 00:00:00 AM', '20231204 00:00:00 AM', 66);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÑÐ°Ð±ÑÐ»Ð³Ð°ÑÐ¸',1);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð¢ÑÐ°ÐºÐ¸',1);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð¡Ð»Ð°Ð²ÑÐ½Ð¸',1);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐ¾Ð²ÑÐ¸',2);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÑÑÐ²Ð°ÑÐ¸',2);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð Ð¸Ð±Ð°ÑÐ¸',2);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐ¾Ð¹ÑÐ¸',3);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸',3);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÑÐ»ÑÐ¸',3);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð ÐµÐ·ÐµÑÐ²Ð¸',4);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ð¡ÑÐ°ÑÐµÐ¹ÑÐ¸Ð½Ð¸',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐ»Ð°Ð´Ð¸Ð°ÑÐ¾ÑÐ¸',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐ¼Ð°Ð·Ð¾Ð½ÐºÐ¸',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'ÐÐ·Ð³ÑÐ±ÐµÐ½Ð¸',5);

INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¡Ð¾ÑÐ¸Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ¾ÑÐµÐ²Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°ÑÐ½Ð°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÑÑÐ¸Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¢Ð¾Ð¿Ð¾Ð»Ð¾Ð²Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ¾Ð½ÑÐ°Ð½Ð°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¯Ð¼Ð±Ð¾Ð»');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÑÑÐ³Ð°Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ»Ð°Ð³Ð¾ÐµÐ²Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°Ð²Ð°Ð»Ð°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÑÑÑÐµÐ½Ð´Ð¸Ð»');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÑÐµÐ±ÑÑ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð Ð°Ð´Ð¾Ð¼Ð¸Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÑÐ»Ð¸Ð½');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð Ð°Ð·Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ»ÐµÐ²ÐµÐ½');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°ÑÐ½Ð¾Ð±Ð°Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÐ»Ð¸ÐºÐ¾ Ð¢ÑÑÐ½Ð¾Ð²Ð¾');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°Ð½Ð°Ð³ÑÑÐ¸ÑÐµ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¡Ð»Ð¸Ð²ÐµÐ½');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¡Ð»Ð°Ð²ÑÐ½Ð¾Ð²Ð¾');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð ÑÑÐµ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÑÑÑÐ°Ð»Ð¸Ð¼');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¥Ð°ÑÐ¼Ð°Ð½Ð»Ð¸');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ»Ð°ÑÐ¾Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°ÑÐ»Ð¾Ð²Ð¾');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¡Ð°Ð¼Ð¾ÐºÐ¾Ð²');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÐ»Ð³ÑÐ°Ð´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ¾Ð²ÐµÑ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ¾Ð±ÑÐ¸Ñ');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ»Ð¾Ð²Ð´Ð¸Ð²');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐºÑÑÐ¾ÑÐ´');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°Ð·Ð°ÑÐ´Ð¶Ð¸Ðº');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐµÐ·Ð´ÑÐ°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¡ÑÐ°ÑÐ° ÐÐ°Ð³Ð¾ÑÐ°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ð¥Ð°ÑÐºÐ¾Ð²Ð¾');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ¾Ð»ÑÐ°');
INSERT INTO [dbo].[city] ([name]) VALUES (N'ÐÐ°Ð·Ð°ÑÑÑÐ°Ð½');

In [47]:
/*Season 1*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ½Ð¸ÑÐ° ÐÑÐ¸Ð·Ð°Ð½Ð¾Ð²Ð°', 'f', 35, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÑÐºÐ° ÐÑÑÐ½Ð¸ÐºÐ¾Ð²Ð°', 'f', 25, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð¸ÑÐ½ ÐÐ¸Ð»Ð°Ð½Ð¾Ð²', 'm', 27, 5);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾Ð°Ð½Ð° ÐÐ¼Ð¸Ð»Ð¾Ð²Ð°', 'f', 20, 6);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ¾ÑÐ³Ð¸ ÐÐ²Ð°Ð½Ð¾Ð²', 'm', 28, 7);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾ÑÐ½Ð° ÐÐµÐ½Ð¾Ð²Ð°', 'm', 27, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°ÑÐµÑÐºÐ° ÐÐ»ÑÑÑÐº', 'f', 23, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÑÐ°Ð½Ð°Ñ ÐÑÑÐ½Ð´ÐµÐ²', 'm', 29, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¼ÐµÐ»Ð¸Ñ-ÐÐ¸ÑÐ° ÐÐ°ÑÐºÐ¾Ð²Ð°', 'f', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ¾ÑÐ³Ð¸Ð¾Ñ Ð¡ÑÑÐ±Ð¸Ð½Ð¾Ð²', 'm', 32, 10);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐºÑÐ°Ð½Ð´ÑÑ ÐÐ¸ÑÐ¸Ð»Ð¾Ð²', 'm', 32, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¡ÑÐ¾ÑÐ½ ÐÑÐ»ÑÐµÐ²', 'm', 23, 12);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð Ð¾Ð±ÐµÑÑÐ° Ð¡ÑÐ¾Ð¹Ð½ÐµÐ²Ð°', 'm', 23, 13);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°ÑÑ ÐÐ°ÑÐµÐ²', 'm', 25, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐ½Ð° ÐÐ²Ð°Ð½Ð¾Ð²Ð°', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¡ÑÐµÑÐ°Ð½Ð¸Ñ ÐÐ²Ð°Ð½Ð¾Ð²Ð°', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¢Ð¾Ð¼Ð°Ñ ÐÐ°ÑÐ¸Ð´Ð¸Ñ', 'm', 25, 14);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ½ÑÐ¸ÑÐ»Ð°Ð²Ð° ÐÐ°Ð½ÐµÐ²Ð°', 'f', 34, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð Ð°Ð´Ð¾ÑÑÐ¸Ð½Ð° ÐÐ¾ÑÐ¾ÑÐ¾Ð²Ð°', 'f', 39, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð°Ð¼ÐµÐ½ ÐÐ»Ð°Ð´ÐµÐ½Ð¾Ð²', 'm', 31, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ½Ð½Ð°-ÐÐ°ÑÐ¸Ñ ÐÑÐ°Ð¹ÑÐµÐ²Ð°', 'f', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÑÐµÐ»Ð¸Ð½ ÐÐ°Ð½ÑÐµÐ²', 'm', 32, 15);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð®Ð»Ð¸ÑÐ½ ÐÐ»Ð°ÑÐµÐ²', 'm', 30, 2);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾Ð±ÑÐ¸Ð½ ÐÐ¸ÐºÐ¾Ð»Ð¾Ð²', 'm', 27, 17);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (1, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (2, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (5, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (12, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (13, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (18, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (20, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (23, 1, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (11, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (21, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (8, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (24, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (15, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (3, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (19, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (16, 2, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (9, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (6, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (22, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (10, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (4, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (7, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (14, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (17, 3, 'joins', 1);

/*Season 2*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð°Ð¼ÐµÐ½ ÐÐ¸ÐºÐ¾Ð²', 'm', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐ½Ð° ÐÐ°ÑÐ¸Ð»ÐµÐ²Ð°', 'f', 20, 2);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð° ÐÐ°ÑÐ°Ð¼ÑÐ¸Ð»Ð¾Ð²Ð°', 'f', 24, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°Ñ Ð¢Ð°Ð½Ð¾Ð²ÑÐºÐ°', 'f', 30, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð°Ð½ ÐÑÐ°Ð³Ð°Ð½Ð¾Ð²', 'm', 38, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸Ð¼Ð¸ÑÑÑ ÐÐ°Ð½ÑÐµÐ²', 'm', 33, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð°Ð¹Ð»Ð¾ Ð¢Ð¾Ð´Ð¾ÑÐ¾Ð²', 'm', 25, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¥ÑÐ¸ÑÑÐ° ÐÑÐ¿Ð°ÑÑÑÐ¾Ð²Ð°', 'f', 35, 16);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¡ÑÐ·ÑÐ½ ÐÐµÐ¾ÑÐ³Ð¸ÐµÐ²Ð°', 'f', 20, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¡ÑÐ°Ð½Ð¸Ð¼Ð¸ÑÐ° ÐÐµÐ´ÐµÐ»ÑÐµÐ²Ð°', 'f', 25, 8);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐºÑÐ°Ð½Ð´ÑÑ ÐÐ¸Ð¼Ð¸ÑÑÐ¾Ð²', 'm', 32, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð°Ð½Ð° ÐÐ¸Ð»Ð¾Ð²Ð°', 'f', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¡Ð¸Ð¼Ð¾Ð½Ð° Ð¡ÑÐ°Ð½Ð¸ÑÐ»Ð°Ð²Ð¾Ð²Ð°', 'f', 28, 29);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð°Ð´Ð¸ÑÐ»Ð°Ð² Ð¡ÑÐ¾Ð¸Ð¼ÐµÐ½Ð¾Ð²', 'm', 31, 11);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÐºÐ¾Ð»Ð°Ð¹ Ð¡ÑÐµÑÐ°Ð½Ð¾Ð²', 'm', 25, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÑÐ±Ð¾Ð¼Ð¸Ñ ÐÐ¾ÑÑÐ¾Ð²', 'm', 29, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð§ÑÐ´Ð¾Ð¼Ð¸Ñ ÐÑÐ¸Ð³Ð¾ÑÐ¾Ð²', 'm', 31, 31);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¢Ð¾Ð´Ð¾Ñ ÐÐµÐ»ÑÐ·ÐºÐ¾Ð²', 'm', 33, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐºÐ°ÑÐµÑÐ¸Ð½Ð° ÐÐ°Ð·Ð°ÑÐ¾Ð²Ð°', 'f', 29, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¶ÐµÑÐ°Ð»Ð´Ð¸Ð½ Ð¢Ð¾Ð´Ð¾ÑÐ¾Ð²Ð°', 'f', 18, 32);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÐºÐ¾Ð»Ð°Ð¹ ÐÐ°Ð·Ð°ÑÐ¸Ð½Ð¾Ð²', 'm', 23, 31);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾Ð°Ð½Ð½Ð° ÐÐ°Ð·Ð°ÑÐ¾Ð²Ð°', 'f', 22, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°Ð¹Ñ Ð¡Ð°Ð¹ÑÐ¸', 'f', 28, 33);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°Ð½Ñ ÐÐ°Ð¿ÑÑÐ½Ð¾Ð²Ð°', 'f', 27, 17);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾ÑÐ¸ÑÐ»Ð°Ð² ÐÐ°Ð·Ð°ÑÐ¾Ð²', 'm', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸Ð»ÐµÐ½ Ð¦Ð²ÐµÑÐºÐ¾Ð²', 'm', 31, 33);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (25, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (26, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (27, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (28, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (29, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (30, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (31, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (32, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (33, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (34, 6, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (35, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (36, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (37, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (38, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (39, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (40, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (41, 6, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (42, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (43, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (44, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (45, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (46, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (47, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (48, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (49, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (50, 4, 'joins', 1);

/*Season 3*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ²Ð°Ð½ ÐÑÐ»ÐºÐ¸Ð½', 'm', 26, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ»Ð¾Ð²Ð´Ð¸Ð²';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ»Ð°ÑÐ¾Ð·Ð°Ñ ÐÑÐ°Ð½Ð°ÑÐ¾Ð²', 'm', 31, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ»Ð¾Ð²Ð´Ð¸Ð²';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ»Ð¸Ñ ÐÐ¸ÑÐ¾Ð²Ð°', 'f', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÑÑÑÐµÐ½Ð´Ð¸Ð»';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡ÑÐ°Ð½Ð¸ÑÐ»Ð°Ð²Ð° ÐÐµÑÑÐ¾Ð²Ð°', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÑÑÐ³Ð°Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ¸ÐºÑÐ¾ÑÐ¸Ñ ÐÐµÑÑÐ¾Ð²Ð°', 'f', 35, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð ÑÑÐµ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐµÐ¾ÑÐ³Ð¸ ÐÑÐ°ÑÐ¾ÐµÐ²', 'm', 33, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ»ÐµÐºÑÐ°Ð½Ð´ÑÑ Ð¦ÐµÐºÐ¾Ð²', 'm', 36, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°Ð±ÑÐ¸ÐµÐ»Ð° ÐÐ¸Ð¼Ð¸ÑÑÐ¾Ð²Ð°', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ°ÑÐ½Ð°';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡Ð¾Ð½Ñ ÐÐ¸Ð»ÐµÐ²Ð°', 'f', 43, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ»ÐµÐ½Ð° ÐÐ¾ÑÐ½Ð¾Ð²Ð°', 'f', 27, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ»Ð¾Ð²Ð´Ð¸Ð²';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡ÐµÐ¼Ð¸ÑÐ° ÐÐ» Ð¡Ð°ÑÐ°Ð¹', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐµÑÐ¸ÑÐ»Ð°Ð² Ð¢ÑÐ´Ð¶Ð°ÑÐ¾Ð²', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°Ð»Ð¾ÑÐ½ ÐÑÐ¾Ð´Ð°Ð½Ð¾Ð²', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ¾Ð±ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°ÑÑÐ¸Ð½ ÐÐ¾Ð½ÐµÐ²', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡ÑÐ°ÑÐ° ÐÐ°Ð³Ð¾ÑÐ°';

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡ÑÐ¾ÑÐ½ ÐÐ¸Ð¼Ð¸ÑÑÐ¾Ð²', 'm', 51, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ¾ÑÐµÐ²Ð³ÑÐ°Ð´';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÑÐ°ÑÐ¸Ð¼Ð° ÐÐ¸ÑÐ¾Ð²Ð°', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ°ÑÐ½Ð°';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÑÐµÐ¼ÐµÐ½Ð° Ð ÑÑÐµÐ²Ð°', 'f', 40, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¥Ð°ÑÐºÐ¾Ð²Ð¾';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°Ð»ÐµÐ½ÑÐ¸Ð½ ÐÐ¸ÑÐµÐ²', 'm', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ»Ð¾Ð²Ð´Ð¸Ð²';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°Ð½Ð¸ ÐÑ ÐÐ°Ð½Ð³ Ð¢Ñ', 'f', 34, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÑÑÐ³Ð°Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ¸Ð»ÐµÐ½Ð° ÐÐ¸ÑÐµÐ²Ð°', 'f', 25, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ¸Ð¼Ð¸ÑÑÑ ÐÐ¾ÑÑÐ½Ð¾Ð²', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð°Ð¼Ð¾ÐºÐ¾Ð²';

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐµÐ¾ÑÐ³Ð¸ Ð Ð°Ð±ÑÑÑÐ¸ÐµÐ²', 'm', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡ÑÐ°ÑÐ° ÐÐ°Ð³Ð¾ÑÐ°';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ¾ÑÐ¸Ñ ÐÐ°Ð»Ð±Ð°Ð½ÑÐ¾Ð²', 'm', 27, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ»Ð¸Ð·Ð°Ð±ÐµÑ ÐÐ°ÑÐ¸Ð»ÐµÐ²Ð°', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐµÐ´ÐµÐ»ÑÐ¾ ÐÐ¾Ð³Ð´Ð°Ð½Ð¾Ð²', 'm', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐµÑÐµÐ±ÑÑ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡ÑÑÐ°ÑÐ¸Ð¼Ð¸Ñ ÐÐµÐ¾ÑÐ³Ð¸ÐµÐ²', 'm', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ°ÑÐ½Ð°';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ°ÑÐ»Ð¸Ð½Ð° ÐÐ¾ÑÐ°Ð½Ð¾Ð²', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ¾Ð»ÑÐ°';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¡Ð¸Ð¼ÐµÐ¾Ð½ Ð¡ÑÐ°Ð½ÐºÐ¾Ð²Ð¸Ñ', 'm', 25, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ð¡Ð¾ÑÐ¸Ñ';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'ÐÐ½Ð´ÑÐµÐ¹ ÐÑÐ¸Ð´Ð¸Ð½', 'm', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ°Ð·Ð°ÑÑÑÐ°Ð½';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 53, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 54, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 55, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 56, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 57, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 58, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 59, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 60, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 61, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 62, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 63, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 64, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 65, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 66, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 67, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 68, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 69, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 70, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 71, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 72, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 73, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 74, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 75, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐ¾Ð¹ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 76, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 77, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ¸ÐºÐ»ÑÑÐµÐ½ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 78, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 79, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÑÐ»ÑÐ¸';

/*Season 4*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð¸Ð½Ð° ÐÐµÐ¾ÑÐ³Ð¸ÐµÐ²Ð°', 'f', 30, 18);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð°Ð½ ÐÐ¸ÑÑÐµÐ²', 'm', 29, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸Ð¼Ð¸ÑÑÑ ÐÑÐºÐ¾Ð²', 'm', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð°Ð½ ÐÐ°Ð¹ÑÐ°Ð½Ð¾Ð²', 'm', 20, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ»Ð¸ÑÐ»Ð°Ð²Ð° ÐÐ½Ð³ÐµÐ»Ð¾Ð²Ð°', 'f', 29, 19);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð¸Ð½Ð° ÐÐ°ÑÐ°Ð»Ð°Ð½Ð¾Ð²Ð°', 'f', 30, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÑÐ¿Ð°ÑÑÑ Ð¢Ð¾ÑÐµÐ²', 'm', 23, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÑÐµÐ»Ð¸Ð½Ð° ÐÑÑÐµÐ¼Ð¾Ð²Ð°', 'f', 42, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÐºÐ¾Ð»Ð°Ð¹ Ð§Ð°ÐºÐ°Ð»Ð¾Ð²', 'm', 26, 21);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°Ð»ÐµÑÐ¸ ÐÑÐ¸Ð³Ð¾ÑÐ¾Ð²', 'm', 23, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²ÐµÐ·Ð´ÐµÐ»Ð¸Ð½Ð° ÐÐµÐ¾ÑÐ³Ð¸ÐµÐ²Ð°', 'f', 30, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°ÑÐ¸Ð¼ ÐÐ°ÑÐ¸Ð¼Ð¾Ð²', 'm', 21, 22);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð¸ÑÐ½ Ð¦Ð²ÐµÑÐºÐ¾Ð²', 'm', 20, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¦Ð²ÐµÑÐ°Ð½ ÐÐµÑÑÐ¾Ð²', 'm', 34, 1);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»Ð¸ÑÐ° Ð¯Ð½ÐºÐ¾Ð²Ð°', 'f', 27, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÑÐ°ÐµÐ»Ð° Ð¢Ð¾Ð´Ð¾ÑÐ¾Ð²Ð°', 'f', 26, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐºÑÐ°Ð½Ð´ÑÐ° Ð¤ÐµÐ¹Ð³Ð¸Ð½', 'f', 19, 23);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÑÐµÐ»Ð° ÐÐ»Ð¸ÐµÐ²Ð°', 'f', 21, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸Ð¼Ð¸ÑÑÑ ÐÐµÑÑÐµÑÐ¾Ð²', 'm', 28, 18);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ½ÑÐ¾ ÐÐµÐ½ÑÐµÐ²', 'm', 33, 24);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¾ÑÐ½Ð¸ÑÐ° Ð¡ÑÐ¾Ð¸Ð»Ð¾Ð²Ð°', 'm', 21, 1);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÑÐ¾ÑÐ»Ð°Ð²Ð° ÐÑÐ¾ÑÐ¸ÑÐ¾Ð²Ð°', 'f', 35, 25);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ°Ð½ÑÐµÐ»Ð° Ð¢Ð¾Ð½ÐµÐ²Ð° âÐÐ°Ð½Ð¸â', 'f', 25, 26);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ²Ð³ÐµÐ½Ð¸Ñ ÐÐ¶Ð°ÑÐµÑÐ¾Ð²Ð¸Ñ', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð Ð°Ð»Ð¸ÑÐ° ÐÐ°ÑÐ¸Ð½Ð¾Ð²Ð°', 'f', 29, 27);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ¸ÐºÑÐ¾ÑÐ¸Ñ ÐÑÐ¸Ð³Ð¾ÑÐ¾Ð²Ð°', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ¾ÑÐ³Ð¸ ÐÐµÑÐºÐ¾Ð² âÐÐ¾Ð³Ð¾â', 'm', 25, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐµÐ¾ÑÐ³Ð¸ Ð¯Ð½ÐµÐ²', 'm', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ð¤Ð¸Ð»Ð¸Ð¿ ÐÑÐ°Ð½Ð°ÑÐ¾Ð²', 'm', 29, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'ÐÐ»ÐµÐºÑÐ° ÐÑÑÐºÐ¸', 'm', 25, 28);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 80, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 81, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 82, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 83, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 84, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 85, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 86, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 87, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 88, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 89, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 90, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 91, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 92, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 93, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 94, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 95, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 96, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 97, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 98, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 99, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 100, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 101, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 102, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 103, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 104, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ·ÑÑÑÐ°ÑÐ½Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 105, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 106, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ¿ÐµÑÐ³ÐµÑÐ¾Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 107, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'ÐÐµÐ¿Ð¾Ð±ÐµÐ´Ð¸Ð¼Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 108, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 109, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð ÐµÐ·ÐµÑÐ²Ð¸';

/*Season 5*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Ð¢ÑÐ¸ÑÐ¾Ð½ Ð¡Ð¸Ð¼ÐµÐ¾Ð½Ð¾Ð² âÐ¢ÑÐ½ÑÐ¾â', 'm', 33, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'ÐÐ°Ð·Ð°ÑÐ´Ð¶Ð¸Ðº';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 110, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Ð¡ÑÐ°ÑÐµÐ¹ÑÐ¸Ð½Ð¸';