Source https://bg.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D0%B8\_%D0%BD%D0%B0\_%D0%B2%D0%BE%D0%BB%D1%8F%D1%82%D0%B0#%D0%A1%D0%B5%D0%B7%D0%BE%D0%BD%D0%B8

In [45]:
-- Create a new database called 'desafio'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'desafio'
)
CREATE DATABASE desafio
GO

USE [desafio];
GO

-- Create a new table called '[season]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[season]', 'U') IS NOT NULL
DROP TABLE [dbo].[season]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[season]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] int NOT NULL,
    [startDate] DATETIME,
    [endDate] DATETIME,
    [episodes] INT
    -- Specify more columns here
);
GO

-- Create a new table called '[tribes]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[tribes]', 'U') IS NOT NULL
DROP TABLE [dbo].[tribes]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[tribes]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    [seasonId] INT NOT NULL
    -- Specify more columns here
);
GO

-- Create a new table called '[eventTribe]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[eventTribe]', 'U') IS NOT NULL
DROP TABLE [dbo].[eventTribe]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[eventTribe]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [participantId] INT NOT NULL,
    [tribeId] INT NOT NULL,
    [event] NVARCHAR(50) NOT NULL,
    [episode] int
    -- Specify more columns here
);
GO

-- Create a new table called '[eventParticipant]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[eventParticipant]', 'U') IS NOT NULL
DROP TABLE [dbo].[eventParticipant]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[eventParticipant]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [participantId] INT NOT NULL,
    [tribeId] INT NOT NULL,
    [event] NVARCHAR(50) NOT NULL,
    [episode] int
    -- Specify more columns here
);
GO

-- Create a new table called '[city]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[city]', 'U') IS NOT NULL
DROP TABLE [dbo].[city]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[city]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    CONSTRAINT AK_name UNIQUE(name)
);
GO

-- Create a new table called '[participant]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[participant]', 'U') IS NOT NULL
DROP TABLE [dbo].[participant]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[participant]
(
    [id] INT NOT NULL PRIMARY KEY IDENTITY, -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    [sex] VARCHAR (1),
    [age] INT,
    [cityId] INT
    -- Specify more columns here
);
GO

In [46]:
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (1, '20190906 00:00:00 AM', '20191206 00:00:00 AM', 66);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (2, '20200906 00:00:00 AM', '20201204 00:00:00 AM', 66);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (3, '20210904 00:00:00 AM', '20211203 00:00:00 AM', 67);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (4, '20220903 00:00:00 AM', '20221129 00:00:00 AM', 63);
INSERT INTO [dbo].[season] ([name], [startDate], [endDate],[episodes]) VALUES (5, '20230902 00:00:00 AM', '20231204 00:00:00 AM', 66);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Прабългари',1);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Траки',1);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Славяни',1);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Ловци',2);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Жътвари',2);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Рибари',2);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Бойци',3);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Приключенци',3);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Жълти',3);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Безстрашни',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Непобедими',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Супергерои',4);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Резерви',4);

INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Старейшини',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Гладиатори',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Амазонки',5);
INSERT INTO [dbo].[tribes] ([name],[seasonId]) VALUES (N'Изгубени',5);

INSERT INTO [dbo].[city] ([name]) VALUES (N'София');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ботевград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Варна');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Петрич');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Тополовград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Монтана');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ямбол');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Бургас');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Благоевград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Кавала');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Кюстендил');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Несебър');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Радомир');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Берлин');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Разград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Плевен');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Карнобат');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Велико Търново');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Панагюрище');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Сливен');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Славяново');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Русе');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Йерусалим');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Харманли');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Златоград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Карлово');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Самоков');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Белград');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Ловеч');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Добрич');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Пловдив');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Оксфорд');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Пазарджик');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Мездра');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Стара Загора');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Хасково');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Полша');
INSERT INTO [dbo].[city] ([name]) VALUES (N'Казахстан');

In [47]:
/*Season 1*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Анита Аризанова', 'f', 35, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Гичка Пътникова', 'f', 25, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Илиян Миланов', 'm', 27, 5);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Йоана Емилова', 'f', 20, 6);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Георги Иванов', 'm', 28, 7);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Бояна Генова', 'm', 27, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Марешка Глущук', 'f', 23, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Атанас Бръндев', 'm', 29, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Амелия-Мира Маркова', 'f', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Георгиос Сърбинов', 'm', 32, 10);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Александър Кирилов', 'm', 32, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Стоян Вълчев', 'm', 23, 12);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Роберта Стойнева', 'm', 23, 13);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Март Лачев', 'm', 25, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Елена Иванова', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Стефания Иванова', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Томас Нацидис', 'm', 25, 14);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Венцислава Панева', 'f', 34, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Радостина Бохорова', 'f', 39, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Пламен Младенов', 'm', 31, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Анна-Мария Крайчева', 'f', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Веселин Панчев', 'm', 32, 15);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Юлиян Златев', 'm', 30, 2);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Добрин Николов', 'm', 27, 17);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (1, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (2, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (5, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (12, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (13, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (18, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (20, 1, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (23, 1, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (11, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (21, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (8, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (24, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (15, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (3, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (19, 2, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (16, 2, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (9, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (6, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (22, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (10, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (4, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (7, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (14, 3, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (17, 3, 'joins', 1);

/*Season 2*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Пламен Диков', 'm', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Елена Василева', 'f', 20, 2);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ева Карамфилова', 'f', 24, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Мая Тановска', 'f', 30, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Иван Драганов', 'm', 38, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Димитър Банчев', 'm', 33, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ивайло Тодоров', 'm', 25, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Христа Аспарухова', 'f', 35, 16);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Сюзън Георгиева', 'f', 20, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Станимира Неделчева', 'f', 25, 8);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Александър Димитров', 'm', 32, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ивана Дилова', 'f', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Симона Станиславова', 'f', 28, 29);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Владислав Стоименов', 'm', 31, 11);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Николай Стефанов', 'm', 25, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Любомир Костов', 'm', 29, 4);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Чудомир Григоров', 'm', 31, 31);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Тодор Желязков', 'm', 33, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Екатерина Лазарова', 'f', 29, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Джералдин Тодорова', 'f', 18, 32);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Николай Лазаринов', 'm', 23, 31);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Йоанна Лазарова', 'f', 22, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Вайс Сайфи', 'f', 28, 33);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ваня Запрянова', 'f', 27, 17);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Борислав Лазаров', 'm', 27, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Милен Цветков', 'm', 31, 33);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (25, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (26, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (27, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (28, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (29, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (30, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (31, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (32, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (33, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (34, 6, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (35, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (36, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (37, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (38, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (39, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (40, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (41, 6, 'joins', 1);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (42, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (43, 6, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (44, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (45, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (46, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (47, 5, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (48, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (49, 4, 'joins', 1);
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) VALUES (50, 4, 'joins', 1);

/*Season 3*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Иван Булкин', 'm', 26, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Пловдив';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Златозар Атанасов', 'm', 31, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Пловдив';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Елия Мицова', 'f', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Кюстендил';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Станислава Петрова', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Бургас';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Виктория Петрова', 'f', 35, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Русе';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Георги Братоев', 'm', 33, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Александър Цеков', 'm', 36, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Габриела Димитрова', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Варна';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Соня Милева', 'f', 43, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Елена Боянова', 'f', 27, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Пловдив';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Семира Ал Сарай', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Верислав Туджаров', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Калоян Проданов', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Добрич';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Мартин Монев', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Стара Загора';

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Стоян Димитров', 'm', 51, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Ботевград';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Красима Кирова', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Варна';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Кремена Русева', 'f', 40, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Хасково';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Валентин Мичев', 'm', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Пловдив';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Мани Ву Нанг Тъ', 'f', 34, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Бургас';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Милена Мирева', 'f', 25, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Димитър Морунов', 'm', 32, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Самоков';

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Георги Рабухчиев', 'm', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Стара Загора';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Борис Налбантов', 'm', 27, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Елизабет Василева', 'f', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Неделчо Богданов', 'm', 21, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Несебър';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Стратимир Георгиев', 'm', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Варна';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Паулина Горанов', 'f', 24, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Полша';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Симеон Станкович', 'm', 25, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'София';
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Андрей Гридин', 'm', 28, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Казахстан';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 53, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 54, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 55, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 56, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 57, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 58, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 59, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 60, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 61, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 62, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 63, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 64, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 65, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 66, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 67, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 68, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 69, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 70, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 71, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 72, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 73, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 74, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 75, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Бойци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 76, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 77, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Приключенци';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 78, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 79, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Жълти';

/*Season 4*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Илина Георгиева', 'f', 30, 18);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Иван Мирчев', 'm', 29, 9);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Димитър Куков', 'm', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Иван Гайтанов', 'm', 20, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Велислава Ангелова', 'f', 29, 19);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Елина Пашаланова', 'f', 30, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Аспарух Тотев', 'm', 23, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Веселина Ефремова', 'f', 42, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Николай Чакалов', 'm', 26, 21);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Валери Григоров', 'm', 23, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Звезделина Георгиева', 'f', 30, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Касим Касимов', 'm', 21, 22);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Илиян Цветков', 'm', 20, 8);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Цветан Петров', 'm', 34, 1);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Елица Янкова', 'f', 27, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Михаела Тодорова', 'f', 26, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Александра Фейгин', 'f', 19, 23);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Мирела Илиева', 'f', 21, 3);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Димитър Лефтеров', 'm', 28, 18);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Генчо Генчев', 'm', 33, 24);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Зорница Стоилова', 'm', 21, 1);

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Мирослава Профирова', 'f', 35, 25);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Мануела Тонева „Мани“', 'f', 25, 26);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Евгения Джаферович', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Ралица Кашинова', 'f', 29, 27);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Виктория Григорова', 'f', 32, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Георги Петков „Гого“', 'm', 25, 20);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Георги Янев', 'm', 21, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Филип Атанасов', 'm', 29, 1);
INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) VALUES (N'Алекса Ерски', 'm', 25, 28);

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 80, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 81, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 82, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 83, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 84, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 85, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 86, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 87, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 88, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 89, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 90, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 91, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 92, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 93, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 94, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 95, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 96, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 97, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 98, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 99, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 100, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';

INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 101, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 102, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 103, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 104, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Безстрашни';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 105, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 106, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Супергерои';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 107, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Непобедими';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 108, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 109, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Резерви';

/*Season 5*/

INSERT INTO [dbo].[participant] ([name], [sex], [age], [cityId]) SELECT N'Трифон Симеонов „Туньо“', 'm', 33, [id] FROM [dbo].[city] WHERE [dbo].[city].[name] = N'Пазарджик';
INSERT INTO [dbo].[eventTribe] ([participantId], [tribeId], [event], [episode]) SELECT 110, [id], 'joins', 1 FROM [dbo].[tribes] WHERE [dbo].[tribes].[name] = N'Старейшини';