Description

Create a new table called '\[pieces\]' in schema '\[dbo\]'. Drop the table if it already exists.

Insert the data - set of numbers 'normal' and 'inverted', ordered ascending by 'normal'.

In [1]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[pieces]', 'U') IS NOT NULL
DROP TABLE [dbo].[pieces]
GO

CREATE TABLE [dbo].[pieces]
(
    [Piece] INT NOT NULL, -- Primary Key column
    [Inverted] INT NOT NULL
);
GO

INSERT INTO [dbo].[pieces] ([Piece], [Inverted]) VALUES
 (11,11)
,(16,91)
,(18,81)
,(19,61)
,(61,19)
,(66,99)
,(68,89)
,(69,69)
,(81,18)
,(86,98)
,(88,88)
,(89,68)
,(91,16)
,(96,96)
,(98,86)
,(99,66)
;
GO

Show all the pieces.

In [2]:
USE TEMPDB;
GO
SELECT * FROM [dbo].[pieces]
ORDER BY [Piece];
GO

Piece,Inverted
11,11
16,91
18,81
19,61
61,19
66,99
68,89
69,69
81,18
86,98
88,88
89,68
91,16
96,96
98,86
99,66

Show the number of pieces and their count

In [3]:
USE TEMPDB;
GO
SELECT 
    [Piece]
    ,COUNT(*) as "count"
FROM [dbo].[pieces]
GROUP BY [Piece]
ORDER BY [Piece];
GO

Piece,count
11,1
16,1
18,1
19,1
61,1
66,1
68,1
69,1
81,1
86,1
88,1
89,1
91,1
96,1
98,1
99,1

Create a table to store the combinations that sum to 264

In [4]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[results]', 'U') IS NOT NULL
DROP TABLE [dbo].[results]
GO

CREATE TABLE [dbo].[results]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [Column1] INT NOT NULL,
    [Column2] INT NOT NULL,
    [Column3] INT NOT NULL,
    [Column4] INT NOT NULL,
    [LineId] INT
);
GO

In [5]:
-- Get a list of tables and views in the current database
SELECT table_catalog [database], table_schema [schema], table_name [name], table_type [type]
FROM INFORMATION_SCHEMA.TABLES
GO

database,schema,name,type
tempdb,dbo,#SVer_______________________________________________________________________________________________________________00000001DFFC,BASE TABLE
tempdb,dbo,pieces,BASE TABLE
tempdb,dbo,results,BASE TABLE

Cleaup

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[results\]') AND type in (N'U')) DROP TABLE \[dbo\].\[results\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[pieces\]') AND type in (N'U')) DROP TABLE \[dbo\].\[pieces\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[sets\]') AND type in (N'U')) DROP TABLE \[dbo\].\[sets\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[lines\]') AND type in (N'U')) DROP TABLE \[dbo\].\[lines\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[log\]') AND type in (N'U')) DROP TABLE \[dbo\].\[log\] GO