To find all the combinations we use self cross joins.

Adding <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 255);">AND</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p1.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p2.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p3.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p4.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">=</span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(9, 136, 90);">264 </span> will filter only the combinations that sum to 264.

In [1]:
USE TEMPDB;
GO

SElECT 
     p1.[Piece]
    ,p2.[Piece]
    ,p3.[Piece]
    ,p4.[Piece]
    ,p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] AS "SUM"
FROM [dbo].[pieces] as p1
CROSS JOIN [dbo].[pieces] as p2
CROSS JOIN [dbo].[pieces] as p3
CROSS JOIN [dbo].[pieces] as p4
    WHERE p2.Piece > p1.Piece
      AND p3.Piece > p2.Piece
      AND p4.Piece > p3.Piece
      AND p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] = 264
    ORDER BY p1.[Piece], p2.[Piece], p3.[Piece], p4.[Piece];
GO

Piece,Piece,Piece,Piece,SUM
11,66,88,99,264
11,66,89,98,264
11,66,91,96,264
11,68,86,99,264
11,68,89,96,264
11,69,86,98,264
11,69,88,96,264
16,61,88,99,264
16,61,89,98,264
16,61,91,96,264
16,66,86,96,264
16,68,81,99,264
16,68,89,91,264
16,69,81,98,264
16,69,88,91,264
18,61,86,99,264
18,61,89,96,264
18,66,81,99,264
18,66,89,91,264
18,69,81,96,264
18,69,86,91,264
18,69,88,89,264
19,61,86,98,264
19,61,88,96,264
19,66,81,98,264
19,66,88,91,264
19,68,81,96,264
19,68,86,91,264
19,68,88,89,264
61,66,68,69,264

Create a table to store the combinations that sum to 264

In [2]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[results]', 'U') IS NOT NULL
DROP TABLE [dbo].[results]
GO

CREATE TABLE [dbo].[results]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [Column1] INT NOT NULL,
    [Column2] INT NOT NULL,
    [Column3] INT NOT NULL,
    [Column4] INT NOT NULL,
    [LineId] INT,
    [Solution] BIT
);
GO

Insert the solutions into the results table.

Lineid - a unique composite primary key is generated by summing pieces in a line. First piece is multiplied by <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">1000000 </span> to move the number at the first and second indexes. Second is multiplied by <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">10000</span> and third by <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">100.</span>

In [3]:
USE TEMPDB;
GO

INSERT INTO [dbo].[results] ([Column1],[Column2],[Column3],[Column4], [Lineid])
SElECT 
     p1.[Piece]
    ,p2.[Piece]
    ,p3.[Piece]
    ,p4.[Piece]
    ,p1.[Piece]*1000000 + p2.[Piece]*10000 + p3.[Piece]* 100 + p4.[Piece] AS LineId
FROM [dbo].[pieces] as p1
CROSS JOIN [dbo].[pieces] as p2
CROSS JOIN [dbo].[pieces] as p3
CROSS JOIN [dbo].[pieces] as p4
    WHERE p2.Piece > p1.Piece
      AND p3.Piece > p2.Piece
      AND p4.Piece > p3.Piece
      AND p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] = 264
    ORDER BY p1.[Piece], p2.[Piece], p3.[Piece], p4.[Piece];
GO

Create a table holding the combinations which sum is 264.

The table is in the format Solution ID, Piece.

In [4]:
IF OBJECT_ID('[dbo].[lines]', 'U') IS NOT NULL
DROP TABLE [dbo].[lines]
GO

CREATE TABLE [dbo].[lines]
(
    [Id] INT NOT NULL, -- Primary Key column
    [Piece] INT NOT NULL
);
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column1]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column2]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column3]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column4]
FROM [dbo].[results]
GO

select * from [dbo].[lines]

Id,Piece
11668899,11
11668998,11
11669196,11
11688699,11
11688996,11
11698698,11
11698896,11
16618899,16
16618998,16
16619196,16
16668696,16
16688199,16
16688991,16
16698198,16
16698891,16
18618699,18
18618996,18
18668199,18
18668991,18
18698196,18
18698691,18
18698889,18
19618698,19
19618896,19
19668198,19
19668891,19
19688196,19
19688691,19
19688889,19
61666869,61
11668899,66
11668998,66
11669196,66
11688699,68
11688996,68
11698698,69
11698896,69
16618899,61
16618998,61
16619196,61
16668696,66
16688199,68
16688991,68
16698198,69
16698891,69
18618699,61
18618996,61
18668199,66
18668991,66
18698196,69
18698691,69
18698889,69
19618698,61
19618896,61
19668198,66
19668891,66
19688196,68
19688691,68
19688889,68
61666869,66
11668899,88
11668998,89
11669196,91
11688699,86
11688996,89
11698698,86
11698896,88
16618899,88
16618998,89
16619196,91
16668696,86
16688199,81
16688991,89
16698198,81
16698891,88
18618699,86
18618996,89
18668199,81
18668991,89
18698196,81
18698691,86
18698889,88
19618698,86
19618896,88
19668198,81
19668891,88
19688196,81
19688691,86
19688889,88
61666869,68
11668899,99
11668998,98
11669196,96
11688699,99
11688996,96
11698698,98
11698896,96
16618899,99
16618998,98
16619196,96
16668696,96
16688199,99
16688991,91
16698198,98
16698891,91
18618699,99
18618996,96
18668199,99
18668991,91
18698196,96
18698691,91
18698889,89
19618698,98
19618896,96
19668198,98
19668891,91
19688196,96
19688691,91
19688889,89
61666869,69

Create a view that shows the inverted solutions

In [5]:
CREATE OR ALTER VIEW V_INVERTED_LINES AS
SElECT 
    [Id],
    SUM(pi.Inverted) as solution_sum
FROM [dbo].[lines] ln
JOIN [dbo].[pieces] pi on pi.Piece = ln.Piece
GROUP BY  [Id]
HAVING SUM(pi.Inverted)=264
GO

SElECT * FROM V_INVERTED_LINES
ORDER BY Id

Id,solution_sum
11668899,264
11668998,264
11688699,264
11688996,264
11698698,264
11698896,264
16688199,264
16688991,264
16698198,264
16698891,264
18668199,264
18668991,264
18698196,264
18698691,264
19668198,264
19668891,264
19688196,264
19688691,264

The table structure does not facilitate quering:

In [7]:
USE TEMPDB;
GO

DECLARE @target as INT = 18;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values(11), (16), (66), (91),(96);

SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
FROM [dbo].[results] 
WHERE (
           [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       ) 
       AND 
       (
            [Column1] not in (select * from @listOfIDs)
        AND [Column2] not in (select * from @listOfIDs)
        AND [Column3] not in (select * from @listOfIDs)
        AND [Column4] not in (select * from @listOfIDs)
       )
ORDER BY [Column1]
        ,[Column2]
        ,[Column3]
        ,[Column4];
GO

Id,Result,Column1,Column2,Column3,Column4
16,264,18,61,86,99
22,264,18,69,88,89

This table alows much simpler quering:

In [8]:
USE tempdb;
Go

DECLARE @target as INT = 19;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values (11);

SELECT * FROM [dbo].[results]
WHERE [Id] in (
                SELECT [SolutionId] FROM [dbo].[results2]
                WHERE [Column] = @target
				AND [SolutionId] NOT IN (
                                        SELECT [SolutionId] FROM [dbo].[results2]
                                        WHERE [Column] IN (SELECT * FROM @listOfIDs)				
				                        )
				)
ORDER BY [Id], [Column1], [Column2], [Column3], [Column4]

Id,Column1,Column2,Column3,Column4,LineId,Solution
23,19,61,86,98,19618698,NULL
24,19,61,88,96,19618896,NULL
25,19,66,81,98,19668198,NULL
26,19,66,88,91,19668891,NULL
27,19,68,81,96,19688196,NULL
28,19,68,86,91,19688691,NULL
29,19,68,88,89,19688889,NULL

In [19]:
UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 3

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 26

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 21

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 27

In [9]:
USE TEMPDB;
GO

SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
    ,[Solution]
FROM [dbo].[results]
WHERE [Solution] is null or [Solution] = 1
ORDER BY [Column1]
        ,[Column2]
        ,[Column3]
        ,[Column4];

Id,Result,Column1,Column2,Column3,Column4,Solution
1,264,11,66,88,99,NULL
2,264,11,66,89,98,NULL
3,264,11,66,91,96,NULL
4,264,11,68,86,99,NULL
5,264,11,68,89,96,NULL
6,264,11,69,86,98,NULL
7,264,11,69,88,96,NULL
8,264,16,61,88,99,NULL
9,264,16,61,89,98,NULL
10,264,16,61,91,96,NULL
11,264,16,66,86,96,NULL
12,264,16,68,81,99,NULL
13,264,16,68,89,91,NULL
14,264,16,69,81,98,NULL
15,264,16,69,88,91,NULL
16,264,18,61,86,99,NULL
17,264,18,61,89,96,NULL
18,264,18,66,81,99,NULL
19,264,18,66,89,91,NULL
20,264,18,69,81,96,NULL
21,264,18,69,86,91,NULL
22,264,18,69,88,89,NULL
23,264,19,61,86,98,NULL
24,264,19,61,88,96,NULL
25,264,19,66,81,98,NULL
26,264,19,66,88,91,NULL
27,264,19,68,81,96,NULL
28,264,19,68,86,91,NULL
29,264,19,68,88,89,NULL
30,264,61,66,68,69,NULL

In [21]:
USE TEMPDB;
GO

DECLARE @target as INT = 98;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values (11), (16), (69),(88),(96);

SELECT * FROM
(
SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
FROM [dbo].[results]
) as t
WHERE (
           [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       )
   and
        (
            [Column1] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column2] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column3] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column4] NOT in (select * from @listOfIDs where id <> @target)
        )
   ;
GO

Id,Result,Column1,Column2,Column3,Column4
23,264,19,61,86,98
25,264,19,66,81,98

After the horizontal soulution find the verical one.

  

11, 69, 88, 96 is one possible line.

In [22]:
USE TEMPDB;
GO

DECLARE @target as INT = 18;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values(11); --, (69),(88),(96);

SELECT * FROM
(
SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
FROM [dbo].[results]
) as t
WHERE (
            [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       )
   and
        (
            [Column1] NOT in (select * from @listOfIDs)
        AND [Column2] NOT in (select * from @listOfIDs)
        AND [Column3] NOT in (select * from @listOfIDs)
        AND [Column4] NOT in (select * from @listOfIDs)
        )
   ORDER BY
     [Column4]
    ,[Column3]
    ,[Column2]
    ,[Column1];
GO

Id,Result,Column1,Column2,Column3,Column4
22,264,18,69,88,89
19,264,18,66,91,89
17,264,18,61,96,89
21,264,18,69,86,91
20,264,18,69,81,96
18,264,18,66,81,99
16,264,18,61,86,99

We need to find all input sets combinations

In [23]:
USE TEMPDB;
GO

DECLARE @piece1 as int = 16;

SELECT 
    [Piece] 
FROM 
    [dbo].[pieces]
WHERE
    [Piece] <> @piece1
UNION ALL
SELECT [Piece2] FROM [dbo].[sets] WHERE [Piece1] = @piece1
ORDER BY [Piece];

Piece
11
18
19
61
66
68
69
81
86
88
89
91
91
96
98
99

In [24]:
USE TEMPDB;
GO
SELECT * FROM [dbo].[sets];
GO
SELECT [Piece2] FROM [dbo].[sets] WHERE [Piece1] = 16;
GO

Id,Piece1,Piece2
1,16,91
2,18,81
3,19,61
4,61,19
5,66,99
6,68,89
7,81,18
8,86,98
9,89,68
10,91,16
11,98,86
12,99,66

Piece2
91

Create a log to store the attempts.

In [25]:
IF OBJECT_ID('[dbo].[log]', 'U') IS NOT NULL
DROP TABLE [dbo].[log]
GO

CREATE TABLE [dbo].[log]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [LineId] INT NOT NULL,
    [TryId] INT NOT NULL,
    [Result] BIT
);
GO

Create log for line solutions.

In [26]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[solutions]', 'U') IS NOT NULL
DROP TABLE [dbo].[solutions]
GO

CREATE TABLE [dbo].[solutions]
(
    [Id] int not null IDENTITY(1,1), -- Primary Key column
    [SolutionId] INT NOT NULL, 
    [LineId] INT NOT NULL
);
GO

In [27]:
-- Get a list of tables and views in the current database
SELECT table_catalog [database], table_schema [schema], table_name [name], table_type [type]
FROM INFORMATION_SCHEMA.TABLES
GO

database,schema,name,type
tempdb,dbo,#MasterFiles________________________________________________________________________________________________________00000000E7C2,BASE TABLE
tempdb,dbo,#TempdbOperationalStats_____________________________________________________________________________________________00000000E7C4,BASE TABLE
tempdb,dbo,#SVer_______________________________________________________________________________________________________________00000000E7FC,BASE TABLE
tempdb,dbo,#only_query_hashes__________________________________________________________________________________________________00000000E7DD,BASE TABLE
tempdb,dbo,#SVer_______________________________________________________________________________________________________________00000000E7FD,BASE TABLE
tempdb,dbo,#ignore_query_hashes________________________________________________________________________________________________00000000E7DE,BASE TABLE
tempdb,dbo,#SVer_______________________________________________________________________________________________________________00000000E7FE,BASE TABLE
tempdb,dbo,#only_sql_handles___________________________________________________________________________________________________00000000E7DF,BASE TABLE
tempdb,dbo,#ignore_sql_handles_________________________________________________________________________________________________00000000E7E0,BASE TABLE
tempdb,dbo,#UpdatedStats_______________________________________________________________________________________________________00000000E7C7,BASE TABLE
tempdb,dbo,#p__________________________________________________________________________________________________________________00000000E7E1,BASE TABLE
tempdb,dbo,#checkversion_______________________________________________________________________________________________________00000000E7E2,BASE TABLE
tempdb,dbo,#configuration______________________________________________________________________________________________________00000000E7E3,BASE TABLE
tempdb,dbo,#plan_creation______________________________________________________________________________________________________00000000E7E4,BASE TABLE
tempdb,dbo,#est_rows___________________________________________________________________________________________________________00000000E7E5,BASE TABLE
tempdb,dbo,#plan_cost__________________________________________________________________________________________________________00000000E7E6,BASE TABLE
tempdb,dbo,#proc_costs_________________________________________________________________________________________________________00000000E7E7,BASE TABLE
tempdb,dbo,#stats_agg__________________________________________________________________________________________________________00000000E7E8,BASE TABLE
tempdb,dbo,#B076DBE9,BASE TABLE
tempdb,dbo,#trace_flags________________________________________________________________________________________________________00000000E7E9,BASE TABLE
tempdb,dbo,#stored_proc_info___________________________________________________________________________________________________00000000E7EA,BASE TABLE
tempdb,dbo,#variable_info______________________________________________________________________________________________________00000000E7EB,BASE TABLE
tempdb,dbo,#conversion_info____________________________________________________________________________________________________00000000E7EC,BASE TABLE
tempdb,dbo,#BlitzFirstResults__________________________________________________________________________________________________00000000E7BA,BASE TABLE
tempdb,dbo,#missing_index_xml__________________________________________________________________________________________________00000000E7ED,BASE TABLE
tempdb,dbo,#missing_index_schema_______________________________________________________________________________________________00000000E7EE,BASE TABLE
tempdb,dbo,#WaitStats__________________________________________________________________________________________________________00000000E7BB,BASE TABLE
tempdb,dbo,#B5E13C06,BASE TABLE
tempdb,dbo,#missing_index_usage________________________________________________________________________________________________00000000E7EF,BASE TABLE
tempdb,dbo,#FileStats__________________________________________________________________________________________________________00000000E7BC,BASE TABLE
tempdb,dbo,#checkversion_allsort_______________________________________________________________________________________________00000000E7D3,BASE TABLE
tempdb,dbo,#missing_index_detail_______________________________________________________________________________________________00000000E7F0,BASE TABLE
tempdb,dbo,#bou_allsort________________________________________________________________________________________________________00000000E7D4,BASE TABLE
tempdb,dbo,#missing_index_pretty_______________________________________________________________________________________________00000000E7F1,BASE TABLE
tempdb,dbo,#QueryStats_________________________________________________________________________________________________________00000000E7BD,BASE TABLE
tempdb,dbo,#index_spool_ugly___________________________________________________________________________________________________00000000E7F2,BASE TABLE
tempdb,dbo,#PerfmonStats_______________________________________________________________________________________________________00000000E7BE,BASE TABLE
tempdb,dbo,#PerfmonCounters____________________________________________________________________________________________________00000000E7BF,BASE TABLE
tempdb,dbo,#FilterPlansByDatabase______________________________________________________________________________________________00000000E7C0,BASE TABLE
tempdb,dbo,V_INVERTED_LINES,VIEW
tempdb,dbo,##WaitCategories,BASE TABLE
tempdb,dbo,pieces,BASE TABLE
tempdb,dbo,results,BASE TABLE
tempdb,dbo,lines,BASE TABLE
tempdb,dbo,##BlitzCacheResults,BASE TABLE
tempdb,dbo,##BlitzCacheProcs,BASE TABLE
tempdb,dbo,results2,BASE TABLE
tempdb,dbo,log,BASE TABLE
tempdb,dbo,solutions,BASE TABLE
tempdb,dbo,sets,BASE TABLE

Cleaup

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[results\]') AND type in (N'U')) DROP TABLE \[dbo\].\[results\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[pieces\]') AND type in (N'U')) DROP TABLE \[dbo\].\[pieces\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[sets\]') AND type in (N'U')) DROP TABLE \[dbo\].\[sets\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[lines\]') AND type in (N'U')) DROP TABLE \[dbo\].\[lines\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[log\]') AND type in (N'U')) DROP TABLE \[dbo\].\[log\] GO