Analysis:

the solution consists of finding the horizontal and inverted sets that sum to 264. The horizontal order is determined by the sets that sum to 264 vertically.

...

The solution process:

1. Find all sets that sum to 264
2. Find the sets that when inverted sum to 264
3. Find the sets that vertically sum to 264
4. Order of the sets is determined by the diagonals

To find all the combinations we use self cross joins.

AddingÂ <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 255);">AND</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p1.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p2.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p3.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">+</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">p4.[Piece] </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">=</span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(9, 136, 90);">264 </span> will filter only the combinations that sum to 264.

In [35]:
USE TEMPDB;
GO

SElECT 
     p1.[Piece]
    ,p2.[Piece]
    ,p3.[Piece]
    ,p4.[Piece]
    ,p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] AS "SUM"
FROM [dbo].[pieces] as p1
CROSS JOIN [dbo].[pieces] as p2
CROSS JOIN [dbo].[pieces] as p3
CROSS JOIN [dbo].[pieces] as p4
    WHERE p2.Piece > p1.Piece
      AND p3.Piece > p2.Piece
      AND p4.Piece > p3.Piece
      AND p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] = 264
    ORDER BY p1.[Piece], p2.[Piece], p3.[Piece], p4.[Piece];
GO

Piece,Piece,Piece,Piece,SUM
11,66,88,99,264
11,66,89,98,264
11,66,91,96,264
11,68,86,99,264
11,68,89,96,264
11,69,86,98,264
11,69,88,96,264
16,61,88,99,264
16,61,89,98,264
16,61,91,96,264
16,66,86,96,264
16,68,81,99,264
16,68,89,91,264
16,69,81,98,264
16,69,88,91,264
18,61,86,99,264
18,61,89,96,264
18,66,81,99,264
18,66,89,91,264
18,69,81,96,264
18,69,86,91,264
18,69,88,89,264
19,61,86,98,264
19,61,88,96,264
19,66,81,98,264
19,66,88,91,264
19,68,81,96,264
19,68,86,91,264
19,68,88,89,264
61,66,68,69,264

Create a table to store the combinations that sum to 264

In [36]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[results]', 'U') IS NOT NULL
DROP TABLE [dbo].[results]
GO

CREATE TABLE [dbo].[results]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [Column1] INT NOT NULL,
    [Column2] INT NOT NULL,
    [Column3] INT NOT NULL,
    [Column4] INT NOT NULL,
    [LineId] INT
);
GO

Insert the solutions into the results table.

Lineid - a unique composite primary key is generated by summing pieces in a line. First piece is multiplied byÂ <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">1000000 </span> to move the number at the first and second indexes. Second is multiplied byÂ <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">10000</span>Â and third byÂ <span style="--z-index-notebook-progress-bar: 5; --z-index-notebook-list-insertion-indicator: 10; --z-index-notebook-cell-editor-outline: 20; --z-index-notebook-scrollbar: 25; --z-index-notebook-cell-status: 26; --z-index-notebook-cell-drag-handle: 26; --z-index-notebook-folding-indicator: 26; --z-index-notebook-output: 27; --z-index-notebook-cell-bottom-toolbar-container: 28; --z-index-notebook-run-button-container: 29; --z-index-notebook-input-collapse-condicon: 29; --z-index-notebook-cell-output-toolbar: 30; --z-index-notebook-cell-toolbar: 36; color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">100.</span>

In [37]:
USE TEMPDB;
GO

INSERT INTO [dbo].[results] ([Column1],[Column2],[Column3],[Column4], [Lineid])
SElECT 
     p1.[Piece]
    ,p2.[Piece]
    ,p3.[Piece]
    ,p4.[Piece]
    ,p1.[Piece]*1000000 + p2.[Piece]*10000 + p3.[Piece]* 100 + p4.[Piece] AS LineId
FROM [dbo].[pieces] as p1
CROSS JOIN [dbo].[pieces] as p2
CROSS JOIN [dbo].[pieces] as p3
CROSS JOIN [dbo].[pieces] as p4
    WHERE p2.[Piece] > p1.[Piece]
      AND p3.[Piece] > p2.[Piece]
      AND p4.[Piece] > p3.[Piece]
      AND p1.[Piece] + p2.[Piece] + p3.[Piece] + p4.[Piece] = 264
    ORDER BY p1.[Piece], p2.[Piece], p3.[Piece], p4.[Piece];
GO

Create a table holding the combinations which sum is 264.

The table is in the format Solution ID, Piece.

In [12]:
IF OBJECT_ID('[dbo].[lines]', 'U') IS NOT NULL
DROP TABLE [dbo].[lines]
GO

CREATE TABLE [dbo].[lines]
(
    [Id] INT NOT NULL, -- Primary Key column
    [Piece] INT NOT NULL
);
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column1]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column2]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column3]
FROM [dbo].[results]
GO

INSERT INTO [dbo].[lines] ([Id], [Piece])
SELECT 
     [Column1]*1000000 + [Column2] * 10000 + [Column3] * 100 + [Column4] AS ID
    ,[Column4]
FROM [dbo].[results]
GO

SELECT COUNT(*) AS "# of lines" FROM [dbo].[lines];

/*should be equal to 4 * 30 */

SELECT 
    [Id]
    ,[Piece] 
    FROM [dbo].[lines];

# of lines
120

Id,Piece
11668899,11
11668998,11
11669196,11
11688699,11
11688996,11
11698698,11
11698896,11
16618899,16
16618998,16
16619196,16
16668696,16
16688199,16
16688991,16
16698198,16
16698891,16
18618699,18
18618996,18
18668199,18
18668991,18
18698196,18
18698691,18
18698889,18
19618698,19
19618896,19
19668198,19
19668891,19
19688196,19
19688691,19
19688889,19
61666869,61
11668899,66
11668998,66
11669196,66
11688699,68
11688996,68
11698698,69
11698896,69
16618899,61
16618998,61
16619196,61
16668696,66
16688199,68
16688991,68
16698198,69
16698891,69
18618699,61
18618996,61
18668199,66
18668991,66
18698196,69
18698691,69
18698889,69
19618698,61
19618896,61
19668198,66
19668891,66
19688196,68
19688691,68
19688889,68
61666869,66
11668899,88
11668998,89
11669196,91
11688699,86
11688996,89
11698698,86
11698896,88
16618899,88
16618998,89
16619196,91
16668696,86
16688199,81
16688991,89
16698198,81
16698891,88
18618699,86
18618996,89
18668199,81
18668991,89
18698196,81
18698691,86
18698889,88
19618698,86
19618896,88
19668198,81
19668891,88
19688196,81
19688691,86
19688889,88
61666869,68
11668899,99
11668998,98
11669196,96
11688699,99
11688996,96
11698698,98
11698896,96
16618899,99
16618998,98
16619196,96
16668696,96
16688199,99
16688991,91
16698198,98
16698891,91
18618699,99
18618996,96
18668199,99
18668991,91
18698196,96
18698691,91
18698889,89
19618698,98
19618896,96
19668198,98
19668891,91
19688196,96
19688691,91
19688889,89
61666869,69

Create a view that lists the lines that when rotated 180 degrees also sum to 180.

In [15]:
USE tempdb;
GO

CREATE OR ALTER VIEW V_INVERTED_LINES AS
SElECT 
    [Id],
    SUM(pi.Inverted) as solution_sum
FROM [dbo].[lines] ln
JOIN [dbo].[pieces] pi on pi.Piece = ln.Piece
GROUP BY  [Id]
HAVING SUM(pi.Inverted)=264
GO

SElECT * FROM V_INVERTED_LINES
ORDER BY Id

Id,solution_sum
11668899,264
11668998,264
11688699,264
11688996,264
11698698,264
11698896,264
16618899,264
16618998,264
16688199,264
16688991,264
16698198,264
16698891,264
18618699,264
18618996,264
18668199,264
18668991,264
18698196,264
18698691,264
19618698,264
19618896,264
19668198,264
19668891,264
19688196,264
19688691,264

Select all line sets that form a solution givent a line id:

1. They sum to 264;
2. when inverted they also sum to 264.

The example usesÂ <span style="color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">11668998 </span> as line id.

<span style="color: rgb(9, 136, 90); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><br></span>

In [16]:
WITH Lines_CTE (column1, column2, column3, column4)
AS
(
SELECT
      column1.[Id], column2.Id, column3.Id, column4.Id 
  FROM [dbo].[V_INVERTED_LINES] as column1
  JOIN [dbo].[lines] as ln ON ln.[Id] = column1.[Id]
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column2
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column3
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column4 
    WHERE column1.[Id] = 11668998
      AND column2.[Id] NOT IN (column1.Id, column3.Id, column4.Id)
      AND column3.[Id] NOT IN (column1.Id, column2.Id, column4.Id)
      AND column4.[Id] NOT IN (column1.Id, column2.Id, column3.Id)
      AND column2.[Id] > column1.[Id]
      AND column3.[Id] > column2.[Id]
      AND column4.[Id] > column3.[Id]
),
solutionsCTE AS
(
  SELECT *
  FROM Lines_CTE
  WHERE column2 NOT IN (
    SELECT [Id] FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (column1, column3, column4))
    )
  AND column3 NOT IN  (
    SELECT [Id] FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (column1, column2, column4 ))
    ) 
  AND column4 NOT IN  (
    SELECT [Id] FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (column1, column2, column3 ))
    )
)
SELECT 
    DISTINCT * 
  FROM solutionsCTE
  ORDER BY column1, column2, column3, column4;

column1,column2,column3,column4
11668998,16618899,18698196,19688691
11668998,16618899,18698691,19688196
11668998,16688199,18698691,19618896
11668998,16698891,18618699,19688196

Create a stored procedure with line id as a parameter

In [25]:
use tempdb;
Go

-- Create a new stored procedure called 'spSolutions' in schema 'dbo'
-- Drop the stored procedure if it already exists
IF EXISTS (
SELECT *
  FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
  AND SPECIFIC_NAME = N'spSolutions'
  AND ROUTINE_TYPE = N'PROCEDURE'
)
DROP PROCEDURE dbo.spSolutions
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE dbo.spSolutions
  @LineId /*parameter name*/ int /*datatype_for_param1*/ = 11668899 /*default_value_for_param1*/
-- add more stored procedure parameters here
AS
BEGIN
  -- body of the stored procedure
WITH Lines_CTE (column1, column2, column3, column4)
AS
(
SELECT
      column1.[Id], column2.Id, column3.Id, column4.Id 
  FROM [dbo].[V_INVERTED_LINES] as column1
  JOIN [dbo].[lines] as ln ON ln.[Id] = column1.[Id]
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column2
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column3
  CROSS JOIN [dbo].[V_INVERTED_LINES] AS column4 
    WHERE column1.[Id] = @LineId
      AND column2.[Id] NOT IN (column1.Id, column3.Id, column4.Id)
      AND column3.[Id] NOT IN (column1.Id, column2.Id, column4.Id)
      AND column4.[Id] NOT IN (column1.Id, column2.Id, column3.Id)
      AND column2.[Id] > column1.[Id]
      AND column3.[Id] > column2.[Id]
      AND column4.[Id] > column3.[Id]
),
solutionsCTE AS
(
  SELECT 
     column1 as row1
    ,column2 as row2
    ,column3 as row3
    ,column4 as row4
  FROM Lines_CTE
  WHERE column2 NOT IN (
    SELECT [Id] FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (column1, column3, column4))
    )
  AND column3 NOT IN  (
    SELECT [Id] FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (column1, column2, column4 ))
    ) 
  AND column4 NOT IN  (
    SELECT Id FROM [dbo].[lines] WHERE [Piece] IN (
    SELECT Piece FROM [dbo].[lines] WHERE Id IN (column1, column2, column3 ))
    )
)
SELECT DISTINCT row1, row2, row3, row4 FROM solutionsCTE
ORDER BY row1, row2, row3, row4
END
GO

Execute the stored procedure for each line id containing 11.

In [26]:
USE tempdb;
GO

DECLARE @LinetID INT;
 
DECLARE CUR_HORIZONTAL CURSOR FAST_FORWARD FOR
    SELECT [Id] from dbo.lines
    WHERE [Piece] = 11
    AND [Id] IN (
                SElECT [Id] FROM [dbo].[V_INVERTED_LINES]
            );
 
OPEN CUR_HORIZONTAL
FETCH NEXT FROM CUR_HORIZONTAL INTO @LinetID
 
WHILE @@FETCH_STATUS = 0
BEGIN
   EXECUTE [dbo].[spSolutions] @LinetID;

   FETCH NEXT FROM CUR_HORIZONTAL INTO @LinetID
END
CLOSE CUR_HORIZONTAL
DEALLOCATE CUR_HORIZONTAL
GO

row1,row2,row3,row4
11668899,16618998,18698196,19688691
11668899,16618998,18698691,19688196
11668899,16688991,18698196,19618698
11668899,16698198,18618996,19688691

row1,row2,row3,row4
11668998,16618899,18698196,19688691
11668998,16618899,18698691,19688196
11668998,16688199,18698691,19618896
11668998,16698891,18618699,19688196

row1,row2,row3,row4
11688699,16618998,18698196,19668891
11688699,16698198,18618996,19668891
11688699,16698198,18668991,19618896
11688699,16698891,18618996,19668198

row1,row2,row3,row4
11688996,16618899,18698691,19668198
11688996,16698198,18618699,19668891
11688996,16698891,18618699,19668198
11688996,16698891,18668199,19618698

row1,row2,row3,row4
11698698,16618899,18668991,19688196
11698698,16688199,18618996,19668891
11698698,16688199,18668991,19618896
11698698,16688991,18668199,19618896

row1,row2,row3,row4
11698896,16618998,18668199,19688691
11698896,16688199,18668991,19618698
11698896,16688991,18618699,19668198
11698896,16688991,18668199,19618698

In [42]:
-- Get a list of tables and views in the current database
SELECT table_catalog [database], table_schema [schema], table_name [name], table_type [type]
FROM INFORMATION_SCHEMA.TABLES
GO

database,schema,name,type
tempdb,dbo,#AF1583DE,BASE TABLE
tempdb,dbo,V_INVERTED_LINES,VIEW
tempdb,dbo,pieces,BASE TABLE
tempdb,dbo,results,BASE TABLE
tempdb,dbo,lines,BASE TABLE

Cleaup

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[results\]') AND type in (N'U')) DROP TABLE \[dbo\].\[results\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[pieces\]') AND type in (N'U')) DROP TABLE \[dbo\].\[pieces\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[sets\]') AND type in (N'U')) DROP TABLE \[dbo\].\[sets\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[lines\]') AND type in (N'U')) DROP TABLE \[dbo\].\[lines\] GO

IF EXISTS (SELECT \* FROM sys.objects WHERE object\_id = OBJECT\_ID(N'\[dbo\].\[log\]') AND type in (N'U')) DROP TABLE \[dbo\].\[log\] GO