Description

Create&nbsp;a&nbsp;new&nbsp;table&nbsp;called&nbsp;'[pieces]'&nbsp;in&nbsp;schema&nbsp;'[dbo]'

Drop&nbsp;the&nbsp;table&nbsp;if&nbsp;it&nbsp;already&nbsp;exists

Create&nbsp;the&nbsp;table&nbsp;in&nbsp;the&nbsp;specified&nbsp;schema

Insert the data

<span style="color: #008000;"><br></span>

In [62]:
USE TEMPDB;
GO


IF OBJECT_ID('[dbo].[pieces]', 'U') IS NOT NULL
DROP TABLE [dbo].[pieces]
GO

CREATE TABLE [dbo].[pieces]
(
    [Piece] INT NOT NULL, -- Primary Key column
);
GO

INSERT INTO [dbo].[pieces] VALUES
 (11)
,(16)
,(18)
,(19)
,(61)
,(66)
,(68)
,(69)
,(81)
,(86)
,(88)
,(89)
,(91)
,(96)
,(98)
,(99)
;
GO

IF OBJECT_ID('[dbo].[results]', 'U') IS NOT NULL
DROP TABLE [dbo].[results]
GO

CREATE TABLE [dbo].[results]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [Column1] INT NOT NULL,
    [Column2] INT NOT NULL,
    [Column3] INT NOT NULL,
    [Column4] INT NOT NULL,
    [Solution] BIT
);
GO

IF OBJECT_ID('[dbo].[sets]', 'U') IS NOT NULL
DROP TABLE [dbo].[sets]
GO

CREATE TABLE [dbo].[sets]
(
    [Id] INT NOT NULL IDENTITY(1,1), -- Primary Key column
    [Piece1] INT NOT NULL,
    [Piece2] INT NOT NULL,
);
GO

INSERT INTO [dbo].[sets] ([Piece1],[Piece2] ) VALUES
 (16, 91)
,(18, 81)
,(19, 61)
,(61, 19)
,(66, 99)
,(68, 89)
,(81, 18)
,(86, 98)
,(89, 68)
,(91, 16)
,(98, 86)
,(99, 66)
;
GO

Show all the pieces

In [33]:
USE TEMPDB;
GO
SELECT * FROM [dbo].[pieces]
ORDER BY [Piece];
GO

Piece
11
16
18
19
61
66
68
69
81
86
88
89
91
96
98
99

Show the number of pieces and their count

In [34]:
USE TEMPDB;
GO
SELECT 
    [Piece]
    ,COUNT(*) as "count"
FROM [dbo].[pieces]
GROUP BY [Piece]
ORDER BY [Piece];
GO

Piece,count
11,1
16,1
18,1
19,1
61,1
66,1
68,1
69,1
81,1
86,1
88,1
89,1
91,1
96,1
98,1
99,1

Create the unique combinations that sum to 264

In [63]:
USE TEMPDB;
GO

INSERT INTO [dbo].[results] ([Column1],[Column2],[Column3],[Column4])
VALUES
(11,66,88,99),
(11,66,91,96),
(11,66,89,98),
(11,68,86,99),
(11,68,96,89),
(11,69,86,98),
(11,69,88,96),
(16,61,88,99),
(16,61,91,96),
(16,61,89,98),
(16,66,86,96),
(16,68,81,99),
(16,68,91,89),
(16,69,81,98),
(16,69,88,91),
(18,61,86,99),
(18,61,96,89),
(18,66,81,99),
(18,66,91,89),
(18,69,81,96),
(18,69,86,91),
(18,69,88,89),
(19,61,86,98),
(19,61,88,96),
(19,66,81,98),
(19,66,88,91),
(19,68,81,96),
(19,68,86,91),
(19,68,88,89),
(61,66,68,69);
GO

In [66]:
USE TEMPDB;
GO

DECLARE @target as INT = 18;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values(11), (16), (66), (91),(96);

SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
    ,[Solution]
FROM [dbo].[results] 
WHERE (
           [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       ) 
       AND 
       (
            [Column1] not in (select * from @listOfIDs)
        AND [Column2] not in (select * from @listOfIDs)
        AND [Column3] not in (select * from @listOfIDs)
        AND [Column4] not in (select * from @listOfIDs)
       )
ORDER BY [Column1]
        ,[Column2]
        ,[Column3]
        ,[Column4];
GO

Id,Result,Column1,Column2,Column3,Column4,Solution
16,264,18,61,86,99,NULL
22,264,18,69,88,89,NULL

In [90]:
UPDATE [dbo].[results]
SET [Solution]=0
WHERE [Column1]=11 
  AND [Column2]=66
  AND [Column3]=91
  AND [Column4]=96;
GO

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Column1]=11 
  AND [Column2]=66
  AND [Column3]=89
  AND [Column4]=98;
GO

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Column1]=19 
  AND [Column2]=66
  AND [Column3]=88
  AND [Column4]=91;
GO

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Column1]=18 
  AND [Column2]=69
  AND [Column3]=86
  AND [Column4]=91;
GO

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Column1]=19 
  AND [Column2]=68
  AND [Column3]=81
  AND [Column4]=96;
GO

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Column1]=11 
  AND [Column2]=69
  AND [Column3]=88
  AND [Column4]=96;
GO

In [91]:
USE TEMPDB;
GO

SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
    ,[Solution]
FROM [dbo].[results]
WHERE [Solution] is null or [Solution] = 1
ORDER BY [Column1]
        ,[Column2]
        ,[Column3]
        ,[Column4];

Id,Result,Column1,Column2,Column3,Column4,Solution
1,264,11,66,88,99,NULL
3,264,11,66,89,98,1
4,264,11,68,86,99,NULL
5,264,11,68,96,89,NULL
6,264,11,69,86,98,NULL
7,264,11,69,88,96,1
8,264,16,61,88,99,NULL
10,264,16,61,89,98,NULL
9,264,16,61,91,96,NULL
11,264,16,66,86,96,NULL
12,264,16,68,81,99,NULL
13,264,16,68,91,89,NULL
14,264,16,69,81,98,NULL
15,264,16,69,88,91,NULL
16,264,18,61,86,99,NULL
17,264,18,61,96,89,NULL
18,264,18,66,81,99,NULL
19,264,18,66,91,89,NULL
20,264,18,69,81,96,NULL
21,264,18,69,86,91,1
22,264,18,69,88,89,NULL
23,264,19,61,86,98,NULL
24,264,19,61,88,96,NULL
25,264,19,66,81,98,NULL
26,264,19,66,88,91,1
27,264,19,68,81,96,1
28,264,19,68,86,91,NULL
29,264,19,68,88,89,NULL
30,264,61,66,68,69,NULL

In [93]:
USE TEMPDB;
GO

DECLARE @target as INT = 98;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values (11), (16), (69),(88),(96);

SELECT * FROM
(
SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
FROM [dbo].[results]
) as t
WHERE (
            [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       )
   and
        (
            [Column1] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column2] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column3] NOT in (select * from @listOfIDs where id <> @target)
        AND [Column4] NOT in (select * from @listOfIDs where id <> @target)
        )
   ;
GO

Id,Result,Column1,Column2,Column3,Column4
23,264,19,61,86,98
25,264,19,66,81,98

After the horizontal soulution find the verical one.

  

11, 69, 88, 96 is one possible line.

In [46]:
USE TEMPDB;
GO

DECLARE @target as INT = 18;
declare @listOfIDs table (id int);
insert @listOfIDs(id) values(11); --, (69),(88),(96);

SELECT * FROM
(
SELECT 
    Id
    ,([Column1]+[Column2]+[Column3]+[Column4]) AS "Result"
    ,[Column1]
    ,[Column2]
    ,[Column3]
    ,[Column4]
FROM [dbo].[results]
) as t
WHERE (
            [Column1]=@target
        OR [Column2]=@target
        OR [Column3]=@target
        OR [Column4]=@target
       )
   and
        (
            [Column1] NOT in (select * from @listOfIDs)
        AND [Column2] NOT in (select * from @listOfIDs)
        AND [Column3] NOT in (select * from @listOfIDs)
        AND [Column4] NOT in (select * from @listOfIDs)
        )
   ORDER BY
     [Column4]
    ,[Column3]
    ,[Column2]
    ,[Column1];
GO

Id,Result,Column1,Column2,Column3,Column4
22,264,18,69,88,89
19,264,18,66,91,89
17,264,18,61,96,89
21,264,18,69,86,91
20,264,18,69,81,96
18,264,18,66,81,99
16,264,18,61,86,99

We need to find all input sets combinations

In [28]:
USE TEMPDB;
GO

DECLARE @piece1 as int = 16;

SELECT 
    [Piece] 
FROM 
    [dbo].[pieces]
WHERE
    [Piece] <> @piece1
UNION ALL
SELECT [Piece2] FROM [dbo].[sets] WHERE [Piece1] = @piece1
ORDER BY [Piece];

Piece
11
18
19
61
66
68
69
81
86
88
89
91
91
96
98
99

In [31]:
USE TEMPDB;
GO
SELECT * FROM [dbo].[sets];
GO
SELECT [Piece2] FROM [dbo].[sets] WHERE [Piece1] = 16;
GO

Id,Piece1,Piece2
1,16,91
2,18,81
3,19,61
4,61,19
5,66,99
6,68,89
7,81,18
8,86,98
9,89,68
10,91,16
11,98,86
12,99,66

Piece2
91

Cleaup

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[results]') AND type in (N'U'))
DROP TABLE [dbo].[results]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pieces]') AND type in (N'U'))
DROP TABLE [dbo].[pieces]
GO