Show all lines that contain 11 and equal 264.

In [2]:
USE tempdb;
GO
SELECT * FROM [dbo].[lines] WHERE [Piece] = 11 ORDER BY [Id];

Id,Piece
11668899,11
11668998,11
11669196,11
11688699,11
11689689,11
11698698,11
11698896,11

Show all lines that contain 11 and equal 264 also when inverted.

In [1]:
USE tempdb;
GO
SELECT
    [dbo].[V_INVERTED_LINES].[Id] 
FROM [dbo].[V_INVERTED_LINES]
JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
WHERE [Piece] = 11;

Id
11668899
11668998
11688699
11689689
11698698
11698896

The <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><b>@target</b> variable is used to filter solutions containing a number;</span>

**@listOfIDs** is a table variable stores the pices/numbers used to compose the lines;

In [ ]:
USE tempdb;
GO

DECLARE @target as INT = 16;
DECLARE @listOfIDs TABLE (id int);
INSERT @listOfIDs(id) SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (11668998);

IF @target = 11
    SELECT * FROM [dbo].[lines] WHERE [Piece] = 11 ORDER BY [Id];

SELECT * FROM @listOfIDs;

SELECT DISTINCT [Piece] FROM [dbo].[lines] WHERE [Piece] NOT IN (SELECT * FROM @listOfIDs);

SELECT * FROM [dbo].[results]
WHERE [LineId] in (
                SELECT [Id] FROM [dbo].[lines]
                WHERE [Piece] = @target
                AND [Id] NOT IN (
                                SELECT [Id] FROM [dbo].[lines]
                                WHERE [Piece] IN (SELECT * FROM @listOfIDs)
                                )
                )
ORDER BY [Id], [Column1], [Column2], [Column3], [Column4];

SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
WHERE [Piece] = @target
AND [dbo].[V_INVERTED_LINES].[Id] NOT IN (
                SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
                JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
                WHERE [Piece] IN (SELECT * FROM @listOfIDs));

Find solutions from the combinations.

Select a number ex.: 11.

Find the combinations that contain 11. Select one combination and then find a solution for line 2, 3. There are either 0 or 1 solutions for line 4.

In [ ]:
USE tempdb;
GO

DECLARE @target as INT = 19;
DECLARE @listOfIDs TABLE (id int);
INSERT @listOfIDs(id) SELECT [Piece] FROM [dbo].[lines] WHERE [Id] IN (11668899, 16689189, 18698196);

SELECT * FROM @listOfIDs;


SELECT DISTINCT [Piece] FROM [dbo].[lines] WHERE [Piece] NOT IN (SELECT * FROM @listOfIDs);


SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
WHERE [Piece] = @target
AND [dbo].[V_INVERTED_LINES].[Id] NOT IN (
                SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
                JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
                WHERE [Piece] IN (SELECT * FROM @listOfIDs));

SELECT * FROM [dbo].[results]
WHERE [LineId] in (
                SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
                JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
                WHERE [Piece] = @target
                AND [dbo].[V_INVERTED_LINES].[Id] NOT IN (
                                SELECT [dbo].[V_INVERTED_LINES].[Id] FROM [dbo].[V_INVERTED_LINES]
                                JOIN [dbo].[lines] ON [dbo].[lines].[Id] = [dbo].[V_INVERTED_LINES].[Id]
                                WHERE [Piece] IN (SELECT * FROM @listOfIDs)
                                )
                )
ORDER BY [Id], [Column1], [Column2], [Column3], [Column4];
GO

In [4]:
USE TEMPDB;
GO

IF OBJECT_ID('[dbo].[solutions]', 'U') IS NOT NULL
DROP TABLE [dbo].[solutions]
GO

CREATE TABLE [dbo].[solutions]
(
    [Id] int not null IDENTITY(1,1), -- Primary Key column
    [SolutionId] INT NOT NULL, 
    [LineId] INT NOT NULL
);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (10, 11668899);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (10, 16689189);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (10, 18698196);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (10, 19618698);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (11, 11668899);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (11, 16698198);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (11, 19688691);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (20, 11668998);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (20, 16698198);
GO
insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (20, 18698196);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (30, 11688699);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (40, 11689689);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (50, 11698698);
GO

insert into [dbo].[solutions] ([SolutionId],[LineId] ) values (60, 11698896);
GO

select * from [dbo].[solutions]

Id,SolutionId,LineId
1,10,11668899
2,10,16689189
3,10,18698196
4,10,19618698
5,11,11668899
6,11,16698198
7,11,19688691
8,20,11668998
9,20,16698198
10,20,18698196
11,30,11688699
12,40,11689689
13,50,11698698
14,60,11698896

In [23]:
USE tempdb;
GO

DECLARE @target as INT = 19;
DECLARE @listOfIDs TABLE (id int);
INSERT @listOfIDs(id) VALUES (11);

SELECT * FROM [dbo].[results]
WHERE [Id] in (
                SELECT [SolutionId] FROM [dbo].[results2]
                WHERE [Column] = @target
				AND [SolutionId] NOT IN (
                                        SELECT [SolutionId] FROM [dbo].[results2]
                                        WHERE [Column] IN (SELECT * FROM @listOfIDs)				
				                        )
				)
ORDER BY [Id], [Column1], [Column2], [Column3], [Column4]

Id,Column1,Column2,Column3,Column4,LineId,Solution
23,19,61,86,98,19618698,NULL
24,19,61,88,96,19618896,NULL
25,19,66,81,98,19668198,NULL
26,19,66,88,91,19668891,NULL
27,19,68,81,96,19688196,NULL
28,19,68,86,91,19688691,NULL
29,19,68,88,89,19688889,NULL

Mark the horizontal solutions

In [ ]:
UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 3

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 26

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 21

UPDATE [dbo].[results]
SET [Solution]=1
WHERE [Id] = 27