Description

In [96]:
-- Create a new database called 'portfolio'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'portfolio'
)
CREATE DATABASE portfolio
GO

USE portfolio;
GO

IF NOT EXISTS ( SELECT  *
                FROM    sys.schemas
                WHERE   name = N'horses-ranking' )
    EXEC('CREATE SCHEMA [horses-ranking]');
GO

-- Create a new table called '[items]' in schema '[cantine]'
-- Drop the table if it already exists
IF OBJECT_ID('[portfolio].[horses-ranking].[groups]', 'U') IS NOT NULL
DROP TABLE [portfolio].[horses-ranking].[groups];
GO
-- Create the table in the specified schema
CREATE TABLE [portfolio].[horses-ranking].[groups]
(
    [Id] INT Identity(1,1) -- Primary Key column
    ,[name] NVARCHAR(50) NOT NULL
    ,CONSTRAINT PK_horses_ranking_groups PRIMARY KEY CLUSTERED (Id)
);
GO

-- Create a new table called '[items]' in schema '[cantine]'
-- Drop the table if it already exists
IF OBJECT_ID('[portfolio].[horses-ranking].[horses]', 'U') IS NOT NULL
DROP TABLE [portfolio].[horses-ranking].[horses]
GO
-- Create the table in the specified schema
CREATE TABLE [portfolio].[horses-ranking].[horses]
(
    [Id] INT Identity(1,1) -- Primary Key column
    ,[name] NVARCHAR(50) NOT NULL
    ,[speed] INT default FLOOR(RAND()*(25-1+1))+1
    ,[groupId] INT
    ,CONSTRAINT PK_horses_ranking_horses PRIMARY KEY CLUSTERED (Id)
    -- Specify more columns here
);
GO

--ALTER TABLE portfolio.[horses-ranking].horses DROP CONSTRAINT PK_horses_ranking_horses;
-- ALTER TABLE [portfolio].[horses-ranking].[horses]
--    ADD CONSTRAINT FK_horses_Shorses FOREIGN KEY (groupId)
--       REFERENCES [portfolio].[horses-ranking].[groups] (Id)
--       ON DELETE CASCADE
--       ON UPDATE CASCADE;

In [97]:
/*insert grpups and horses randomising the speed*/

INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('A');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('B');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('C');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('D');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('E');

INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A1', 1, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A2', 1, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A3', 1, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A4', 1, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A5', 1, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B1', 2, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B2', 2, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B3', 2, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B4', 2, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B5', 2, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C1', 3, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C2', 3, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C3', 3, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C4', 3, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C5', 3, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D1', 4, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D2', 4, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D3', 4, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D4', 4, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D5', 4, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E1', 5, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E2', 5, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E3', 5, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E4', 5, FLOOR(RAND()*(75-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E5', 5, FLOOR(RAND()*(75-1+1))+1);

In [98]:
SELECT TOP (1000) [Id]
      ,[name]
  FROM [portfolio].[horses-ranking].[groups];

Id,name
1,A
2,B
3,C
4,D
5,E

In [110]:
SELECT TOP (100) 
       h.[Id]
      ,h.[name]
      ,h.[speed]
      ,g.[name]
  FROM [portfolio].[horses-ranking].[horses] h
  JOIN [portfolio].[horses-ranking].[groups] g ON g.Id = h.groupId
  ORDER BY [speed] DESC ,[groupId], h.[name];

Id,name,speed,name
14,C4,75,C
10,B5,74,B
21,E1,74,E
18,D3,70,D
8,B3,69,B
25,E5,67,E
17,D2,65,D
13,C3,61,C
23,E3,58,E
11,C1,56,C
5,A5,53,A
4,A4,49,A
19,D4,47,D
9,B4,46,B
16,D1,40,D
20,D5,39,D
12,C2,36,C
6,B1,34,B
22,E2,32,E
7,B2,28,B
1,A1,24,A
24,E4,21,E
15,C5,17,C
3,A3,14,A
2,A2,1,A

In [111]:
/*Race the horses in groups*/
USE portfolio;
GO

CREATE OR ALTER VIEW [horses-ranking].[v_horse_ranking_in_group] (id, [name], speed, groupId, horse_speed_rang)
AS
SELECT TOP (100) [Id]
      ,[name]
      ,[speed]
      ,[groupId]
      ,ROW_NUMBER() over (order by [speed] DESC, [groupId]) as [horse_speed_rang]
  FROM [portfolio].[horses-ranking].[horses]
  ORDER BY [groupId], [speed] DESC, [name];
GO

SElECT [Id]
      ,[name]
      ,[speed]
      ,[groupId]
      ,[horse_speed_rang]
FROM [horses-ranking].[v_horse_ranking_in_group];

Id,name,speed,groupId,horse_speed_rang
5,A5,53,1,11
4,A4,49,1,12
1,A1,24,1,21
3,A3,14,1,24
2,A2,1,1,25
10,B5,74,2,2
8,B3,69,2,5
9,B4,46,2,14
6,B1,34,2,18
7,B2,28,2,20
14,C4,75,3,1
13,C3,61,3,8
11,C1,56,3,10
12,C2,36,3,17
15,C5,17,3,23
18,D3,70,4,4
17,D2,65,4,7
19,D4,47,4,13
16,D1,40,4,15
20,D5,39,4,16
21,E1,74,5,3
25,E5,67,5,6
23,E3,58,5,9
22,E2,32,5,19
24,E4,21,5,22

In [101]:
/*
Returns the fastest horse in each group. the result is ordered by total speed.
The order is by the fstest group to the slowest one.
*/
USE portfolio;
GO

CREATE OR ALTER VIEW [horses-ranking].[v_group_ranking] (groupId, max_speed, group_speed_rang)
AS
SELECT TOP (100) 
      [groupId]
      ,max([speed]) as max_speed
      ,row_number() over (order by max([speed])DESC) as [group_speed_rang]
  FROM [portfolio].[horses-ranking].[horses]
  GROUP BY [groupId]
  ORDER BY max([speed]) DESC, [groupId];

In [102]:
SELECT * FROM [portfolio].[horses-ranking].[v_group_ranking];

groupId,max_speed,group_speed_rang
3,75,1
2,74,2
5,74,3
4,70,4
1,53,5

In [112]:
/*The fastest horse overall is*/

SElECT * FROM (
    SElECT [Id]
        ,[name]
        ,[speed]
        ,[groupId]
        ,[horse_speed_rang]
        ,row_number() over (order by horse_speed_rang) as [rang]
    FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
    WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 1)
    ) AS fastest
WHERE [rang] = 1
GO

Id,name,speed,groupId,horse_speed_rang,rang
14,C4,75,3,1,1

In [116]:
/*Two more horses from the group of the fastest horse overall could be the second and third fastest overall*/
SElECT * FROM (
    SElECT [Id]
        ,[name]
        ,[speed]
        ,[groupId]
        ,[horse_speed_rang]
        ,row_number() over (order by horse_speed_rang) as [rang]
    FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
    WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 1)
    ) AS fastest
WHERE [rang] in (2 , 3)
GO

Id,name,speed,groupId,horse_speed_rang,rang
13,C3,61,3,8,2
11,C1,56,3,10,3

In [117]:
/*Two more horses from the group of the second fastest horse overall could be the second and third fastest overall*/
SElECT * FROM (
    SElECT [Id]
        ,[name]
        ,[speed]
        ,[groupId]
        ,[horse_speed_rang]
        ,row_number() over (order by horse_speed_rang) as [rang]
    FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
    WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 2)
    ) AS secondFastest
WHERE [rang] in (1,2)
GO

Id,name,speed,groupId,horse_speed_rang,rang
10,B5,74,2,2,1
8,B3,69,2,5,2

In [106]:
/*Last is the first horse from the third group.*/
SElECT * FROM (
    SElECT [Id]
        ,[name]
        ,[speed]
        ,[groupId]
        ,[horse_speed_rang]
        ,row_number() over (order by horse_speed_rang) as [rang]
    FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
    WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 3)
    ) AS thirdFastest
WHERE [rang] =1
GO

Id,name,speed,groupId,horse_speed_rang,rang
21,E1,74,5,3,1

In [119]:
/*Combine them all and do the final race to pick the secpond and third fastest overall*/
SElECT TOP (2)
            [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            , [rang]
FROM (
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 1)
        ) AS fastest
    WHERE [rang] in (2,3)
    UNION ALL
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 2)
        ) AS secondFastest
    WHERE [rang] in (1,2)
    UNION ALL
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 3)
        ) AS thirdFastest
    WHERE [rang] =1
) as findSecondAndThirdFastestOverall
ORDER BY [horse_speed_rang]
GO

Id,name,speed,groupId,horse_speed_rang,rang
10,B5,74,2,2,1
21,E1,74,5,3,1

In [125]:
SElECT 
    [Id]
    ,[name]
    ,[speed]
    ,[groupId]
    ,[horse_speed_rang]
    ,[group_speed_rang]
FROM (
    SElECT [Id]
        ,[name]
        ,[speed]
        ,[groupId]
        ,[horse_speed_rang]
        ,row_number() over (order by horse_speed_rang) as [group_speed_rang]
    FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
    WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 1)
    ) AS fastest
WHERE [group_speed_rang] = 1
UNION ALL
SElECT TOP (2)
            [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,[group_speed_rang]
FROM (
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [group_speed_rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 1)
        ) AS fastest
    WHERE [group_speed_rang] in (2,3)
    UNION ALL
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [group_speed_rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 2)
        ) AS secondFastest
    WHERE [group_speed_rang] in (1,2)
    UNION ALL
    SElECT * FROM (
        SElECT [Id]
            ,[name]
            ,[speed]
            ,[groupId]
            ,[horse_speed_rang]
            ,row_number() over (order by horse_speed_rang) as [group_speed_rang]
        FROM [portfolio].[horses-ranking].[v_horse_ranking_in_group]
        WHERE groupId = (SELECT groupId FROM [portfolio].[horses-ranking].[v_group_ranking] WHERE group_speed_rang = 3)
        ) AS thirdFastest
    WHERE [group_speed_rang] =1
) as findSecondAndThirdFastestOverall
ORDER BY [horse_speed_rang]
GO

Id,name,speed,groupId,horse_speed_rang,group_speed_rang
14,C4,75,3,1,1
10,B5,74,2,2,1
21,E1,74,5,3,1