Description

In [86]:
-- Create a new database called 'portfolio'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'portfolio'
)
CREATE DATABASE portfolio
GO

USE portfolio;
GO

IF NOT EXISTS ( SELECT  *
                FROM    sys.schemas
                WHERE   name = N'horses-ranking' )
    EXEC('CREATE SCHEMA [horses-ranking]');
GO

-- Create a new table called '[items]' in schema '[cantine]'
-- Drop the table if it already exists
IF OBJECT_ID('[portfolio].[horses-ranking].[groups]', 'U') IS NOT NULL
DROP TABLE [horses-ranking].[groups]
GO
-- Create the table in the specified schema
CREATE TABLE [horses-ranking].[groups]
(
    [Id] INT Identity(1,1), -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
);
GO

-- Create a new table called '[items]' in schema '[cantine]'
-- Drop the table if it already exists
IF OBJECT_ID('[portfolio].[horses-ranking].[horses]', 'U') IS NOT NULL
DROP TABLE [horses-ranking].[horses]
GO
-- Create the table in the specified schema
CREATE TABLE [horses-ranking].[horses]
(
    [Id] INT Identity(1,1), -- Primary Key column
    [name] NVARCHAR(50) NOT NULL,
    [speed] INT default FLOOR(RAND()*(25-1+1))+1,
    [groupId] INT
    -- Specify more columns here
);
GO

-- ALTER TABLE [portfolio].[horses-ranking].[horses]
--    ADD CONSTRAINT FK_horses_Shorses FOREIGN KEY (groupId)
--       REFERENCES [portfolio].[horses-ranking].[groups] (Id)
--       ON DELETE CASCADE
--       ON UPDATE CASCADE
-- ;

In [87]:
/*insert grpups and horses randomising the speed*/

INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('A');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('B');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('C');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('D');
INSERT INTO [horses-ranking].[groups] ([name]) VALUES ('E');

INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A1', 1, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A2', 1, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A3', 1, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A4', 1, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('A5', 1, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B1', 2, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B2', 2, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B3', 2, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B4', 2, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('B5', 2, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C1', 3, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C2', 3, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C3', 3, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C4', 3, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('C5', 3, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D1', 4, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D2', 4, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D3', 4, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D4', 4, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('D5', 4, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E1', 5, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E2', 5, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E3', 5, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E4', 5, FLOOR(RAND()*(25-1+1))+1);
INSERT INTO [horses-ranking].[horses] ([name], [groupId], [speed]) VALUES ('E5', 5, FLOOR(RAND()*(25-1+1))+1);

In [88]:
SELECT TOP (1000) [Id]
      ,[name]
  FROM [portfolio].[horses-ranking].[groups];

SELECT TOP (1000) [Id]
      ,[name]
      ,[speed]
      ,[groupId]
  FROM [portfolio].[horses-ranking].[horses]
  ORDER BY [speed] DESC ,[groupId], [name];

Id,name
1,A
2,B
3,C
4,D
5,E

Id,name,speed,groupId
11,C1,24,3
1,A1,22,1
6,B1,22,2
3,A3,21,1
4,A4,21,1
8,B3,21,2
17,D2,20,4
18,D3,19,4
12,C2,18,3
24,E4,18,5
7,B2,16,2
22,E2,16,5
14,C4,15,3
9,B4,14,2
15,C5,12,3
21,E1,12,5
2,A2,11,1
20,D5,11,4
23,E3,11,5
16,D1,10,4
5,A5,6,1
10,B5,4,2
19,D4,4,4
13,C3,2,3
25,E5,2,5

In [91]:
SELECT TOP (1000) [Id]
      ,[name]
      ,[speed]
      ,[groupId]
  FROM [portfolio].[horses-ranking].[horses]
  ORDER BY [groupId], [speed] DESC, [name];

Id,name,speed,groupId
1,A1,22,1
3,A3,21,1
4,A4,21,1
2,A2,11,1
5,A5,6,1
6,B1,22,2
8,B3,21,2
7,B2,16,2
9,B4,14,2
10,B5,4,2
11,C1,24,3
12,C2,18,3
14,C4,15,3
15,C5,12,3
13,C3,2,3
17,D2,20,4
18,D3,19,4
20,D5,11,4
16,D1,10,4
19,D4,4,4
24,E4,18,5
22,E2,16,5
21,E1,12,5
23,E3,11,5
25,E5,2,5

In [90]:
-- WITH NumberSequence AS (
--     SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS [name]
--     FROM (VALUES (1),(1),(1),(1),(1)) AS v1(n)
--     CROSS JOIN (VALUES (1),(1),(1),(1),(1)) AS v2(n)
-- )
-- INSERT INTO [portfolio].[horses-ranking].[horses] ([name], [groupId])
-- SELECT 
--     [name]
--     ,NTILE(5) OVER (ORDER BY [name]) AS groupId
-- FROM NumberSequence
-- ORDER BY [name];

-- SELECT 
--     row_number() over (order by [groupId]) as [name]
--     ,groupId
--     ,speed
-- FROM (
--     select 1 as groupId ,FLOOR(RAND()*(25-1+1))+1 as speed
--     UNION ALL
--     select 2 as groupId ,FLOOR(RAND()*(25-1+1))+1 as speed
--     UNION ALL
--     select 3 as groupId ,FLOOR(RAND()*(25-1+1))+1 as speed
-- ) as t1